{% extends 'base.html' %}
{% load static %}


{% block title %}
    <title>Landings list</title>
{% endblock %}

{% block content %}

    <div class="team-boxed mt-2">
        <div class="container">
            <div class="intro pb-3">
                <h1 class="text-center">Returned Landings</h1>
            </div>
            <div class="row mt-4">
                <div class="intro col-md-6">
                    <h5 class="text-left mb-3">Select between active and returned landings</h5>
                    <p style="margin-bottom: 8px;padding-top: 5px;">
                      You are now seeing the landings that have already been returned.
                    </p>
                    <a class="btn btn-warning mt-3" href="{% url 'customers:active_landings'%}">Active</a>
                    <a class="btn btn-warning mt-3 ml-2 disabled" href="{% url 'customers:returned_landings'%}">Returned</a>
                </div>
                <div class="intro col-md-6">
                    <h5 class="text-left mb-3">Search returned landing by book</h5>
                    <form method="GET">
                        {% csrf_token %}
                        <select class="form-control" id="book" name="book">
                          {% for landing in returned_landings %}
                            <option value="{{landing.book.id}}" class="form-control">{{landing.book}}</option>
                          {% endfor %}
                        </select>
                        <button class="btn btn-warning mt-3" type="submit">Search</button>
                    </form>
                </div>
            </div>
            <div class="row people">
                <!-- looping through the books -->
                <table class="table table-bordered table-striped table-responsive-stack mt-4"  id="tableOne">
                    <thead class="thead-dark">
                        <tr>
                            <th>Book landed</th>
                            <th>Customer</th>
                            <th>Date borrowed</th>
                            <th>Date due</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    </tbody>
                    {% if returned_landings.count > 0 %}
                        {% for landing in returned_landings %}
                        <tr>
                            <td>{{landing.book}}</td>
                            <td>{{landing.customer}}</td>
                            <td>{{landing.date_borrowed}}</td>
                            <td>{{landing.date_due}}</td>
                            <td>Returned</td>
                        </tr>
                        {% endfor %}
                    {% else %}
                        <div class="col-12 text-center">
                            <p class="error">There are no active landings yet</p>
                        </div>
                    {% endif %}
                    </tbody>
                </table>
                <!-- pagination -->
                {% if is_paginated %}
                <nav class="blog-pagination mt-4">
                    <!-- checking if the current page has previous pages-->
                    {% if page_obj.has_previous and page_obj.has_next %}

                    <!-- getting the first page of pagination -->
                    <a class="btn btn-outline-primary mr-1" href="?page=1">First page</a>

                    <!-- getting the previous page of pagination -->
                    <a class="btn btn-outline-primary mr-1" href="?page={{ page_obj.previous_page_number }}"> < </a>

                    <!-- getting to the next page -->
                    <a class="btn btn-outline-primary mr-1" href="?page={{ page_obj.next_page_number }}"> > </a>

                    <!-- getting the last page of pagination -->
                    <a class="btn btn-outline-primary mr-1" href="?page={{ page_obj.paginator.num_pages }}"> Last page </a>

                    {% elif page_obj.has_previous and not page_obj.has_next%}
                    <a class="btn btn-outline-primary mr-1" href="?page=1">First page</a>
                    <a class="btn btn-outline-primary mr-1" href="?page={{ page_obj.previous_page_number }}"> < </a>
                    <a class="btn btn-outline-secondary disabled mr-1" href="#" tabindex="-1" aria-disabled="true"> > </a>
                    <a class="btn btn-outline-secondary disabled mr-1" href="#" tabindex="-1" aria-disabled="true"> Last page </a>
                    {% else %}
                    <a class="btn btn-outline-secondary disabled mr-1" href="#" tabindex="-1" aria-disabled="true">First page</a>
                    <a class="btn btn-outline-secondary disabled mr-1" href="#" tabindex="-1" aria-disabled="true"> < </a>
                    <a class="btn btn-outline-primary mr-1" href="?page={{ page_obj.next_page_number }}"> > </a>
                    <a class="btn btn-outline-primary mr-1" href="?page={{ page_obj.paginator.num_pages }}"> Last page </a>
                    {% endif %}
                </nav>
            {% endif %}
            <!-- pagination end -->
            </div>
        </div>
        <div class="intro end pb-4 pt-2 text-center">
            <h3 class="text-center">Add a new landing</h3>
            <p class="text-center">
                Click the button below to the database?</p>
            </p>
            <a class="btn btn-red mt-3" href="{% url 'customers:add_new' %}" type="submit">Add a new landing</a>
        </div>
    </div>
    
{% endblock %}