{% extends 'base.html' %}
{% load static %}


{% block title %}
    <title>Landings list</title>
{% endblock %}

{% block content %}

    <div class="team-boxed mt-2">
        <div class="container">
            <div class="intro pb-3">
                <h1 class="text-center">Active Landings</h1>
            </div>
            <div class="row mt-4">
                <div class="intro col-md-6">
                    <h5 class="text-left mb-3">Select between active and expired landings</h5>
                    <p style="margin-bottom: 8px;padding-top: 5px;">
                      You are now seeing the landings that have not yet been returned.
                    </p>
                    <a class="btn btn-warning mt-3 disabled" href="{% url 'customers:active_landings'%}">Active</a>
                    <a class="btn btn-warning mt-3 ml-2" href="{% url 'customers:returned_landings'%}">Returned</a>
                </div>
                <div class="intro col-md-6">
                    <h5 class="text-left mb-3">Search active landing by book</h5>
                    <form method="GET">
                        {% csrf_token %}
                        <input class="form-control" type="text" id="book" name="book" placeholder="Insert the name of a book">
                        <button class="btn btn-warning mt-3" type="submit">Search</button>
                    </form>
                </div>
            </div>
            <div class="row people">
                <!-- looping through the books -->
                <table class="table table-bordered table-striped table-responsive-stack mt-4"  id="tableOne">
                    <thead class="thead-dark">
                        <tr>
                            <th>Book landed</th>
                            <th>Customer</th>
                            <th>Date borrowed</th>
                            <th>Date due</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    </tbody>
                    {% if active_landings.count > 0 %}
                        {% for landing in active_landings %}
                        <tr>
                            <td>{{landing.book}}</td>
                            <td>{{landing.customer}}</td>
                            <td>{{landing.date_borrowed}}</td>
                            <td>{{landing.date_due}}</td>
                            <td>Not yet returned</td>
                            <td><a href="{% url 'customers:returned_landing' landing.id%}">Mark as returned</a>
                        </tr>
                        {% endfor %}
                    {% else %}
                        <div class="col-12 text-center">
                            <p class="error">There are no active landings yet</p>
                        </div>
                    {% endif %}
                    </tbody>
                </table>

            </div>
        </div>
        <div class="intro end pb-4 pt-2 text-center">
            <h3 class="text-center">Add a new landing</h3>
            <p class="text-center">
                Click the button below to the database?</p>
            </p>
            <a class="btn btn-red mt-3" href="{% url 'customers:add_new_landing' %}" type="submit">Add a new landing</a>
        </div>
    </div>
    
{% endblock %}