{% extends 'base.html' %}

{% block title %}
    <title>Authors list</title>
{% endblock %}

{% block content %}
    <h1>Authors list</h1>

    <div class="team-boxed">
        <div class="container">
            <div class="intro">
                <h1 class="text-center">Authors</h1>
                <p class="text-center">Nunc luctus in metus eget fringilla. Aliquam sed justo ligula. Vestibulum nibh erat, pellentesque ut laoreet vitae.</p>
            </div>
            <div class="row">
                <div class="intro col-md-6">
                    <h3 class="text-center">Search by author name</h3>
                    <form method="GET">
                        {% csrf_token %}
                        <input class="form-control" type="text" id="name" name="name" placeholder="Insert an author name">
                        <button class="btn btn-custom" type="submit">Search</button>
                    </form>
                </div>
                <div class="intro col-md-6">
                    <h3 class="text-center">Search by author surname</h3>
                    <form method="GET">
                        {% csrf_token %}
                        <input class="form-control" type="text" id="surname" name="surname" placeholder="Insert an author surname">
                        <button class="btn btn-custom" type="submit">Search</button>
                    </form>
                </div>
            </div>
            <div class="row people">
                <!-- looping through the authors -->
                {% for author in authors %}

                <div class="col-md-6 col-lg-4 item">
                    <div class="box"><img class="rounded-circle" src="">
                        <h3 class="name">{{author.author_name}} {{author.last_name}}</h3>
                        <p class="title">Author</p>
                        <p> Author nationality: {{author.author_nationality}}</p>
                        <p> Author age: {{author.author_age}}</p>
                        <p class="description"> {{author.author_description}} </p>
                        <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
                    </div>
                </div>

                {% endfor %}

            </div>
        </div>
    </div>
    
{% endblock %}