/*=== GENERAL MODIFICATIONS ===*/
#body #main-navigation { padding-top:35px; padding-bottom:35px; background: url('../img/2.jpg');
  background-size: cover; font-size:18px}
.navbar-light .navbar-nav .nav-link {color:white; font-weight:400!important;
  padding-right: 15px;padding-left: 15px;}
.navbar-light .navbar-nav .nav-link:hover {color:rgb(212, 212, 212);}
#logo {font-family:'Merienda', cursive; font-size:32px; color:white}
#logo:hover {color:rgb(212, 212, 212)}
#body .btn {border-radius: 0px!important;padding: 10px 20px;}
#body .end button {display:block; margin:0 auto}
#body .btn-warning{color:white; background-color: #e67e22; border:3px solid #e67e22}
#body .btn-warning:hover{background-color: #d35400;border: 3px solid #d35400;}
#body .btn-red{background: #e74c3c;border: 3px solid #e74c3c; color:white}
#body .btn-red:hover {background: #c0392b;border: 3px solid #c0392b;}
#body .error {color:#c0392b; font-size:18px}

#body .btn-white {color: #a32f22;margin-left: 10px;background: white; border:2px solid white}
#body .btn-white:hover {color: white;margin-left: 10px;background: transparent;}

@media (min-width: 992px){
  #main-container {min-height:385px!important}
}

/*=== HOME PAGE 4 BOXES MODIFICATIONS ===*/
.image-aside{max-width: 90px;}
.image-aside-box{float: left;  max-width: 90px; margin-right:15px}

/*=== AUTHORS MODIFICATIONS ===*/
.team-boxed {
  color:#313437;
  background-color:white;
}

.team-boxed p {
  color:#7d8285;
}

.team-boxed h2 {
  font-weight:bold;
  margin-bottom:40px;
  padding-top:40px;
  color:inherit;
}

@media (max-width:767px) {
  .team-boxed h2 {
    margin-bottom:25px;
    padding-top:25px;
    font-size:24px;
  }
}

.team-boxed .intro {
  font-size:16px;
  max-width:500px;
  margin:0 auto;
}

.team-boxed .intro p {
  margin-bottom:0;
}

.team-boxed .people {
  padding:50px 0;
}

.team-boxed .item {
  text-align:center;
}

.team-boxed .item .box {
  text-align:center;
  padding:30px;
  background-color: #eef4f7;
  ;
  margin-bottom:30px;
}

.team-boxed .item .name {
  font-weight:bold;
  margin-top:28px;
  margin-bottom:8px;
  color:inherit;
}

.team-boxed .item .title {
  text-transform:uppercase;
  font-weight:bold;
  color:#9e9e9e;
  letter-spacing:2px;
  font-size:13px;
}

.team-boxed .item .description {
  font-size:15px;
  margin-top:15px;
  margin-bottom:20px;
}

.team-boxed .item img {
  max-width:160px;
}

.team-boxed .social {
  font-size:18px;
  color:#a2a8ae;
}

.team-boxed .social a {
  color:inherit;
  margin:0 10px;
  display:inline-block;
  opacity:0.7;
}

.team-boxed .social a:hover {
  opacity:1;
}

/*============================== table ==============================*/
.table-responsive-stack tr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}


.table-responsive-stack td,
.table-responsive-stack th {
   display:block;
   font-weight:400;
/*      
   flex-grow | flex-shrink | flex-basis   */
   -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

.table-responsive-stack .table-responsive-stack-thead {
   font-weight: bold;
}

@media screen and (max-width: 768px) {
   .table-responsive-stack tr {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      border-bottom: 3px solid #ccc;
      display:block;
      
   }
   /*  IE9 FIX   */
   .table-responsive-stack td {
      float: left\9;
      width:100%;
   }
}

.table .thead-dark th {
  color: #fff;
  border-color: #2c3e50;
  background:#34495e;
}

#body .p1-box {margin-bottom:0px}

/*=== FOOTER MODIFICATIONS ===*/
#body #sticky-footer {padding-top:40px; padding-bottom:25px; background: url('../img/2.jpg');
color:rgb(212, 212, 212); }

#body #sticky-footer a {color:white;}
#body #sticky-footer a:hover {color:rgb(212, 212, 212);}

/*=== PRELOADER MODIFICATIONS ===*/
/*=== SPINNER ===*/
.preloader {
  position: fixed;
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #c0392b;
  z-index: 999;
}

.preloader.dark-p {
  background: #17222B;
}

.preloader.v4 {
  background: linear-gradient(90deg, #FF5555, #AB50EF);
}

.preloader > div {
  width: 300px;
  height: 300px;
  flex: 0 0 25%;
  box-sizing: border-box;
  margin: 0;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

/* NO BORDER SPINNER */
.nb-spinner {
  width: 75px;
  height: 75px;
  margin: 0;
  background: transparent;
  border-top: 4px solid #FFFFFF;
  border-right: 4px solid transparent;
  border-radius: 50%;
  animation: 1s spin linear infinite;
}

/* BORDER TOP SPINNER */
.bt-spinner {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background-color: transparent;
  border: 4px solid #222;
  border-top-color: #FFFFFF;
  animation: 1s spin linear infinite;
}

/* DOUBLE BORDER SPINNER */
.db-spinner {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background-color: transparent;
  border: 4px solid #222;
  border-top-color: #c0392b;
  border-bottom-color: #c0392b;
  animation: 1s spin linear infinite;
}

/* DOUBLE SPINNER */
.double-spinner {
  position: relative;
}

.dbl-spinner {
  position: absolute;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background-color: transparent;
  border: 4px solid transparent;
  border-top: 4px solid #222;
  border-left: 4px solid #222;
  animation: 2s spin linear infinite;
}

.dbl-spinner--2 {
  border: 4px solid transparent;
  border-right: 4px solid #c0392b;
  border-bottom: 4px solid #c0392b;
  animation: 1s spin linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}