{% extends 'base.html' %}
{% load static %}


{% block title %}
    <title>Login</title>
{% endblock %}

{% comment %} <!-- loading the crispy form thing -->
{% load crispy_forms_tags %} {% endcomment %}

{% block content %}
  <!-- Title row -->
  <div class="row mt-3">
    <div class="col-md-7">

    {% if not user.is_authenticated %}

        <div class="heading">
            <h1 class="widget-title-big mb20">Login to your account</h1>
        </div>
        <p class="mb30">
            Loggin in is required in order to access the contents, view and modify the database of 
            books, authors, customers and book borrowings.
        </p>
        <form method="POST" class="mt-4">
            <!-- adding the csrf token for added security. It is a Django requirement-->
            {% csrf_token %}
            <!-- adding some extra html with bootstrap classes-->
            <fieldset class="form-group">
                <!-- now actually accessing the form with crispy forms filter -->
                {{ form.as_p }}
                <!-- adding the submit button that is not included in the form-->
                <div>
                    <button class="btn btn-warning mt-2" type="submit">Log in</button>
                </div>
            </fieldset>
        </form>

        <p class="mt-5" style="margin-bottom:5px">
            Having trouble logging in? Contact the support center.
        </p>
        <a href="{% url 'user:contact_support'%}">Contact support</a>
            <!-- adding the possibility of signing in if the user already has an account -->

    {% else %}

        <div class="heading">
            <h1 class="widget-title-big mb30">You are already logged in</h1>
        </div>
        <p>
            Go ahead and browse through the current insertions to give feedback or
            post an insertion.
        </p>
        <a class="btn btn-warning" href="{% url "user:home" %}"> Go to the home page </a>

    {% endif %}
    </div>
  </div>

  <!--CAROUSEL END-->

<!-- ending the block -->
{% endblock content %}